:root {
  --main-green: #26a96c;
  --link-color: #26a96c;
  --menu-color: black;
  --bar-width: 42px;
  --bar-height: 5px;
  --hamburger-gap: 6px;
  --hamburger-color: #f8edeb;
  --timing: 200ms ease-in-out;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
  --x-width: calc(var(--hamburger-height) * 1.41421356237);
}

/* ------- Across all pages --------------------- */

*, *::after, *::before {
  box-sizing: border-box;
}

@font-face {
  font-family: Rubik;
  src: url('../fonts/Rubik-Regular.ttf') format('truetype');
}

@font-face {
  font-family: Rubik;
  font-weight: bold;
  src: url('../fonts/Rubik-Bold.ttf') format('truetype');
}

body {
  font-family: 'Rubik', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f8edeb;
}

hr {
  margin-top: 50px;
}

.wrapper {
  margin: 0 1rem;
}

p {
  line-height: 1.5;
}

.bold {
  font-weight: bold;
}

header {
  background-color: black;
  padding: 14px 0;
  text-align: center;
}

.logo {
  width: 80px;
  border: 6px double #f8edeb;
  border-radius: 100%;
}

main {
  flex: 1;
}

a.text-link,
a.text-link:visited {
  color: var(--link-color);
  text-decoration: none;
  position: relative;
  white-space: nowrap;
}

a.text-link::after {
  content: "";
  width: 100%;
  bottom: 0;
  left: 0;
  height: 3px;
  background-color: #072ac8;
  display: block;
  position: absolute;
  opacity: 0.75;
}

footer {
  color: #f8edeb;
  background-color: black;
  padding: 20px 0;
}

.footer-top {
  display: flex;
  justify-content: space-between;
}

.footer-bottom {
  text-align: center;
  margin-top: 30px;
}

.social,
.social img {
  height: 40px;
  width: 40px;
  display: inline-block;
}

.social.fb-icon img {
  padding: 8px;
}

.social.email {
  margin-left: 8px;

  img {
    padding: 4px;
  }
}

@media (min-width:780px) {
  body {
    overflow-x: hidden;
  }

  .wrapper {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1rem;
  }

  .logo {
    width: 110px;
  }

  footer {
    display: flex;
    align-items: center;
  }

  .footer-top {
    width: 330px;
  }
}

/* ------- Responsive nav --------------------- */

.hamburger-menu {
  display: flex;
  flex-direction: column;
  gap: var(--hamburger-gap);
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 6;
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
  content: "";
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: var(--hamburger-color);
  border-radius: 20px;
  transform-origin: left center;
  transition: opacity var(--timing), width var(--timing), translate var(--timing), rotate var(--timing), background-color var(--timing);
}

.hamburger-menu input {
  appearance: none;
  outline: none;
  pointer-events: none;
}

.hamburger-menu input:checked {
  opacity: 0;
  width: 0;
}

.hamburger-menu:has(input:focus-visible)::before,
.hamburger-menu:has(input:focus-visible)::after,
.hamburger-menu input:focus-visible {
  border: 1px solid yellow;
}

.hamburger-menu:has(input:checked) {
  position: fixed;
  --hamburger-color: #f8edeb;
}

.hamburger-menu:has(input:checked)::before {
  rotate: 45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / -2);
}

.hamburger-menu:has(input:checked)::after {
  rotate: -45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / 2);
}

.navigation>a {
  width: max-content;
  margin: 20px;
  font-size: 1.2rem;
  font-weight: bold;
}

.navigation {
  display: none;
  width: 300px;
  max-width: 100vw;
  background-color: var(--menu-color);
  opacity: 0.98;
  text-align: center;
  min-height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 5;
  padding: 100px 20px 100px 10px;
}

.hamburger-menu:has(input:checked)+.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width:780px) {
  .hamburger-menu {
    display: none;
  }

  .navigation {
    display: flex;
    justify-content: center;
    width: auto;
    position: relative;
    min-height: auto;
    padding: 20px 0;
  }

  .navigation>a:first-child {
    display: none;
  }

  .navigation>a {
    margin: 0px 20px 4px;
  }

  .navigation>a::after {
    content: none;
  }
}

/* ------- Index --------------------- */

.landing-page-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 530px;
  padding-top: 50px;
  background-image: url(../img/stag2_full.jpg);
  background-size: cover;
  background-position: center;

  .title {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 3.5rem;
    text-align: center;
    text-shadow: 4px 4px 0px white;
    font-weight: bold;
  }
}

@media (min-width:780px) {
  .landing-page-main {
    min-height: 40vw;

    .title {
      font-size: 4.5rem;
    }
  }
}

@media (min-width:1000px) {
  .landing-page-main {
    padding-top: 6vw;

    .title {
      font-size: 5rem;
    }
  }
}

/* ------- All content pages ------------ */

.content-main {
  margin-top: 30px;
  margin-bottom: 30px;
}

@media (min-width:780px) {
  .content-main {
    margin-top: 30px;
    margin-bottom: 50px;
  }
}

/* ------- About page --------------- */

.about-content-container {
  img {
    border-radius: 5px;
  }
}

.about-images--desktop {
  display: none;
}

.top-img--mobile {
  width: calc(100vw - 2rem);
  max-width: 500px;
}

.bottom-images--mobile {
  margin: 40px 0 20px;

  .image-1 {
    width: 100%;
    transform: rotate(2deg);
  }

  .image-2 {
    width: 49%;
    transform: rotate(-10deg);
  }

  .image-3 {
    margin-top: -40px;
    width: 49%;
    transform: rotate(4deg);
  }
}

@media (min-width:780px) {

  .top-img--mobile,
  .bottom-images--mobile {
    display: none;
  }

  .about-content-container {
    display: flex;
    flex-direction: row;
    gap: 50px;
  }

  .about-images--desktop {
    width: 50%;
    display: block;
    height: 630px;
    position: relative;

    .image-1 {
      width: 350px;
      transform: rotate(3deg);
    }

    .image-2 {
      width: 280px;
      position: relative;
      top: -65px;
      left: 70px;
      transform: rotate(4deg);
    }

    .image-3 {
      width: 220px;
      position: absolute;
      top: 380px;
      left: -20px;
      transform: rotate(-5deg);
    }
  }
}

@media (min-width:1065px) {
  .about-images--desktop {
    /* height: 600px; */

    .image-1 {
      width: 400px;
    }

    .image-2 {
      width: 300px;
      left: 190px;
    }

    .image-3 {
      top: 330px;
    }
  }
}

/* ------- History page --------------- */

.history-img {
  width: 100%;
  border-radius: 5px;
}

@media (min-width:500px) {
  .history-img {
    width: 350px;
    margin-bottom: 10px;
  }

  .top {
    margin-top: 20px;
  }

  .float-left {
    float: left;
    margin-right: 20px;
  }

  .float-right {
    float: right;
    margin-left: 20px;
  }
}

@media (min-width:800px) {
  .history-img {
    width: 500px;
  }
}

/* ------- Events page --------------- */

.events-headline {
  margin-bottom: 30px;
}

.event {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 40px;

  img {
    width: 100%;
    border-radius: 3px;
  }

  .ev-title {
    margin-top: 0;
    font-weight: bold;
  }

  .ev-date,
  .ev-time {
    color: darkgreen;
    margin: -6px 0;
  }
}

@media (min-width:500px) {
  .event {
    flex-direction: row;
    align-items: start;
    gap: 30px;
    margin-bottom: 50px;

    img {
      width: 200px;
    }
  }
}

@media (min-width:780px) {
  .event {
    flex-direction: row;
    align-items: start;
    gap: 30px;
    margin-bottom: 50px;

    img {
      width: 300px;
    }
  }
}

/* ------- Gallery page --------------- */

.youtube-embed {
  width: 100%;
  height: 50vw;
  margin-bottom: 20px;
}

.gallery img {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 3px;
}

@media (min-width:780px) {
  .gallery {
    text-align: center;

    img {
      height: 275px;
      width: inherit;
      margin-right: 20px;
    }
  }
}

@media (min-width:900px) {
  .youtube-embed {
    width: 720px;
    height: 400px;
  }
  
  .gallery img {
    height: 320px;
  }
}

@media (min-width:910px) {
  .gallery img {
    height: 328px;
  }
}

/* ------- Contact page --------------- */

#join, #book {
  margin-top: 50px;
}