:root {
  --main-green: #26a96c;
  --off-white: #fdfcdc;
  --bar-width: 50px;
  --bar-height: 8px;
  --hamburger-gap: 6px;
  --hamburger-color: black;
  --timing: 200ms ease-in-out;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
  --x-width: calc(var(--hamburger-height) * 1.41421356237);
}

/* ------- Across all pages --------------------- */

*, *::after, *::before {
  box-sizing: border-box;
}

@font-face {
    font-family: Rubik;
    src: url('../fonts/Rubik-Regular.ttf') format('truetype');
}

@font-face {
    font-family: Rubik;
    font-weight: bold;
    src: url('../fonts/Rubik-Bold.ttf') format('truetype');
}

body {
  font-family: 'Rubik', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--main-green);
}

.wrapper {
  margin: 0 10px;
}

header {
  padding: 16px 0;
  text-align: center;
  background: url(../img/stag2.jpg);
  background-size: cover;
  background-position: center;
}

.logo {
  width: 90px;
}

main {
  flex: 1;
}

.title {
  font-family: 'Caveat', cursive;
  font-size: 60px;
}

a,
a:visited {
  color: var(--off-white);
  text-decoration: none;
  position: relative;
}

a::after {
  content: "";
  width: 100%;
  bottom: 0;
  height: 4px;
  background-color: pink;
  display: block;
  position: absolute;
  opacity: 0.75;
}

footer {
  background-color: lightskyblue;
  padding: 20px 0;
}

.footer-content {
  display: flex;
  justify-content: space-around;
}

/* ------- Responsive nav --------------------- */

.hamburger-menu {
  display: flex;
  flex-direction: column;
  width: max-content;
  gap: var(--hamburger-gap);  
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 2;
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
  content: "";
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: var(--hamburger-color);
  border-radius: 20px;
  transform-origin: left center;
  transition: opacity var(--timing), width var(--timing), translate var(--timing), rotate var(--timing), background-color var(--timing);
}

.hamburger-menu input {
  appearance: none;
  outline: none;
  pointer-events: none;
}

.hamburger-menu input:checked {
  opacity: 0;
  width: 0;
}

.hamburger-menu:has(input:focus-visible)::before,
.hamburger-menu:has(input:focus-visible)::after,
.hamburger-menu input:focus-visible {
  border: 1px solid yellow;
}

.hamburger-menu:has(input:checked) {
  --hamburger-color: var(--off-white);
}

.hamburger-menu:has(input:checked)::before {
  rotate: 45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / -2);
}

.hamburger-menu:has(input:checked)::after {
  rotate: -45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / 2);
}

.navigation > a {
  color: var(--off-white);
  width: max-content;
  margin: 15px;
}

.navigation {
  display: none;
  width: 250px;
  max-width: 100vw;
  background-color: #0081a7;
  opacity: 0.98;
  box-shadow: -10px 1px 10px #0081a7;
  text-align: center;
  min-height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  padding: 100px 20px 100px 10px;
}

.hamburger-menu:has(input:checked) + .navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ------- Index --------------------- */


